<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.miroboadvisor1_0">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@mipmap/ic_launcher_round"
        android:label="Roboadvisor"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity android:name=".ui.AjustesAcitivy" />
        <activity android:name=".ui.TestActivity" />
        <activity android:name=".ui.PrincipalActivity" />
        <activity android:name=".ui.RegistroActivity" />
        <activity android:name=".ui.RecuperarContraseñaActivity" />
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>